#mainContainer #step2 {
    display: none;
}

#mainContainer #step1, #rightRow {
    display: inline-block;
}

#help {
    display: inline-block;
    width: 200px;
    text-align: justify;
    right: 0;
}

#rbox {
    width: 430px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}

#lbox {
    display: inline-block;
    vertical-align: top;
}

#lbox #img-large {
    width: 300px;
    height: 300px;
}

#lbox #ok-btn {
    position: relative;
    width: 180px;
    bottom: 61px;
    margin: 0 auto;
    display: block;
}

#tabs {
    height: 250px;
    overflow: scroll;
    padding-left: 5px;
}

.grayscale {
    -webkit-filter: grayscale(0.8);
}

.highlighted {
    box-shadow: 0 0 10px rgb(232, 208, 105);
    border: 2px solid rgb(232, 208, 105);
    margin-top: -2px;
}

.thumbnails a {
    padding: 0;
}

ul.thumbnails {
    padding-top: 5px;
}

.thumbnails li {
    height: 70px;
    width: 70px;
}

.thumbnails img {
    height: 60px;
    width: 60px;
}

.tab-content {
    position: relative;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 10px 0;
    background-color: rgba(233,233,233,0.2); 
}

ul.nav-tabs {
    margin-bottom: 0;
    border: 0;
}

.center-ul ul {
    text-align: center;
    margin: 0 !important;
}

.center-ul ul li {
    list-style: none;
    display: inline;
}

form input:not(#btn-submit) {
    width: 275px !important;
    padding-left: 0;
}

form #btn-submit {
    width: 285px;
    left: 0;
    right: 0;
    margin: 0 auto;
}