#rbox {
    width: 400px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
}

#lbox {
    display: inline-block;
}

#lbox #img-large {
    width: 200px;
    height: 200px;
}

#lbox #ok-btn {
    position: relative;
    width: 140px;
    bottom: 61px;
    margin: 0 auto;
    display: block;
}

#tabs {
    height: 150px;
    overflow: scroll;
    padding-left: 5px;
}

.grayscale {
    -webkit-filter: grayscale(0.8);
}

.highlighted {
    box-shadow: 0 0 10px rgba(281, 203, 138, 1);
    border: 3px solid rgba(81, 203, 38, 1);
    margin-top: -3px;
}

.thumbnails a {
    padding: 0;
}

ul.thumbnails {
    padding-top: 5px;
}

.thumbnails li {
    height: 70px;
    width: 70px;
}

.thumbnails img {
    height: 60px;
    width: 60px;
}

.tab-content {
    position: relative;
}

.center-ul ul {
    text-align: center;
    margin: 0 !important;
}

.center-ul ul li {
    list-style: none;
    display: inline;
}

form input:not(#btn-submit) {
    width: 275px !important;
    padding-left: 0;
}

form #btn-submit {
    width: 285px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}