{% extends 'base.html' %}
{% block head %}
    <link href="{{ STATIC_URL }}workshop/css/workshop.css" rel="stylesheet">
{% endblock head %}

{% block container %}
<div class="row">
    <ul class="breadcrumb">
        <li>Step 1<span class="divider">/</span></li>
        <li>Step 2<span class="divider">/</span></li>
        <li>Step 3<span class="divider"></span></li>
    </ul>
</div>
    <div class="row">
        <div class="span8">
            <div id="lbox"><img alt="" class="img-polaroid" data-src="holder.js/200x200"></div>
            <div id="rbox">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Choose from gallery</a></li>
                    <li><a href="#tab2" data-toggle="tab">Upload</a></li>
                </ul>
                <div id="tabs" class="tab-content">
                    <div class="tab-pane active center-ul" id="tab1">
                        <ul class="thumbnails">
                            <li><a href="#" class="thumbnail"><img alt="" data-src="holder.js/60x60"></a></li>
                            <li><a href="#" class="thumbnail"><img alt="" data-src="holder.js/60x60"></a></li>
                            <li><a href="#" class="thumbnail"><img alt="" data-src="holder.js/60x60"></a></li>
                            <li><a href="#" class="thumbnail"><img alt="" data-src="holder.js/60x60"></a></li>
                            <li><a href="#" class="thumbnail"><img alt="" data-src="holder.js/60x60"></a></li>
                            <li><a href="#" class="thumbnail"><img alt="" data-src="holder.js/60x60"></a></li>
                            <li><a href="#" class="thumbnail"><img alt="" data-src="holder.js/60x60"></a></li>
                            <li><a href="#" class="thumbnail"><img alt="" data-src="holder.js/60x60"></a></li>
                            <li><a href="#" class="thumbnail"><img alt="" data-src="holder.js/60x60"></a></li>
                            <li><a href="#" class="thumbnail"><img alt="" data-src="holder.js/60x60"></a></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <form action="/upload/" method="post" enctype="multipart/form-data" class="center-ul">
                            <ul>
                                <li>{# <label for="id_title">Title:</label> #}<input id="id_title" maxlength="200" name="title" type="text" placeholder="Image title" /></li>
                                <li>{# <label for="id_image">Image:</label> #}<input id="id_image" name="image" type="file" accept="image/x-png, image/jpeg" /></li>
                                {# <li><label for="id_author">Author:</label></li> #}
                                {# <li><label for="id_tags">Tags:</label></li> #}
                                <li><input type="submit" id="btn-submit" value="Upload" class="btn btn-primary btn-small"></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            <p class="lead">Help</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, quod, porro, itaque laboriosam et fugit eveniet facere voluptatum sed nihil ea ipsum aspernatur. Dolore sapiente ut odio adipisci odit laborum.</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/holder.js"></script>
{% endblock scripts %}