<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" media="screen">
    {% block head %}{% endblock head %}
  </head>
  <body>
    <div id="header">
        <h1>Vernissagram</h1>
        <div id="navbar">
            <ul>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Workshop</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        {% block container %}
        {% endblock container %}
        
        <div id="footer" class="row">
            <div class="span12">
                Made with webcurious love by Me.
            </div>
        </div>
    </div>
    <script src="{{ STATIC_URL }}js/jQuery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>