* { margin: 0; padding: 0; }

html, body { height: 100%; min-width: 900px;}

.container {
    margin-top: 60px;
}

#header {
    padding: 10px 30px;
    position: relative;
}

#header h1 {
    font-size: 12em;
    line-height: 120px;
}

#navbar {
    display: inline-block;
    margin-top: 10px;
}

#navbar li {
    display: inline;
    font-family: Lobster;
    font-size: 22pt;
    font-style: italic;
    padding-left: 70px;
}

#footer {
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px;
}
